#                                                                               
# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.        
#                                                                               
# Licensed under the Apache License, Version 2.0 (the "License");               
# you may not use this file except in compliance with the License.              
# You may obtain a copy of the License at                                       
#                                                                               
#     http://www.apache.org/licenses/LICENSE-2.0                                
#                                                                               
# Unless required by applicable law or agreed to in writing, software           
# distributed under the License is distributed on an "AS IS" BASIS,             
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.      
# See the License for the specific language governing permissions and           
# limitations under the License.                                                
#                                                                               
###############################################################################\
##                                                                              
#                                                                               
# File: Click here to Start.desktop
#                                                                               
# Description: Desktop directory .desktop file for big Click here (for browser (and demo labs html if installed))                                            
#                                                                               
###############################################################################\
##   
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/oracle/Desktop/images/runTimeClickHere.png
Name[en_US]=Click here to Start
Exec=/usr/bin/firefox /home/oracle/Desktop/ODDHandsOnLabs.html \n
Name=Start Here
Icon=/home/oracle/Desktop/images/runTimeClickHere.png

